body {
  background-color: #707273;
  font-family: "Montserrat", sans-serif;
  padding: 40px;
}

.wrapper {
  display: flex;
  flex-direction: row-reverse;
  background: #fff;
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0px 4px 4px rgba(255, 255, 255, 0.30);
}

/* main-content */

.main-content {
  padding: 88px;
}

.main-content-title {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #000000;
  margin: 0 0 8px 0;
}

/* about me */
.about-me-container {
  margin-bottom: 64px;
}

.my-pofession {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin: 0 0 18px 0;
}

.my-name {
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 55px;
  color: #000000;
  margin: 0 0 28px;
}

.my-descr {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  width: 525px;
}

/* projects */

.projects-container {
  margin-bottom: 48px;
}

.project-list {
  padding: 0 0 0 14px;
  margin: 0;
}

.project-item {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
}

.project-item-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-decoration-line: underline;
  color: #005fff;
}

.project-item-descr {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}

/* Work Experience */

.work-experience-container {
  margin-bottom: 44px;
}

.work-experience-place {
  margin-bottom: 16px;
}

.work-experience-position {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  margin: 0;
}

.work-experience-company {
  color: #6d9bf5;
}

.work-period {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #a8a8a8;
  margin: 12px 0 8px 0;
}

.work-duties-list {
  margin: 0;
  padding: 0 0 0 14px;
}

.work-duties {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}

/* Education */

.education-container {
  margin-bottom: 43px;
}

.education-title {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #6d9bf5;
  margin: 0 0 11px 0;
}

.education-position {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin: 0 0 12px 0;
}

.education-period {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #a8a8a8;
  margin: 0;
}

/* Sidebar */

.sidebar {
  background: #e0ebfe;
  width: 370px;
}

.my-photo {
  margin-top: 40px;
  width: 370px;
}

.contacts-container,
.tech-skills-container,
.soft-skills-container {
  margin: 48px 0 0 48px;
}

.sidebar-title {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #161d2a;
  margin-bottom: 8px;
}

/* Contacts */

.contatcts-type {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #161d2a;
  margin-right: 8px;
}

.contacts-item {
  margin: 0;
}

.contatcts-number {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-decoration: none;
  color: #161d2a;
}

.contatcts-email {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #2979ff;
}

/* Tech Skills */

.tech-skills-list {
  margin: 0;
  padding: 0 0 0 12px;
}

.tech-skills-list-item {
  color: #6d9bf5;
}

.tech-skills-list-text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #161d2a;
}

/* Soft Skills */

.soft-skills-list {
  margin: 0;
  padding: 0 0 0 12px;
}

.soft-skills-list-list-item {
  color: #6d9bf5;
}

.soft-skills-list-text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #161d2a;
}
